<div ng-app="view-customer" ng-controller="view-customer-cntrl as myCntrl">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-10">

            <h2>{{customer.Customer}}</h2>

        </div>
    </div>
    <div class="gray-bg">
        <div class="row">
          <div class="col-sm-10">
               <p>Contact: <strong> {{customer.Contact}}</strong> </p>
                <p>Phone: <strong> {{customer.Phone}}</strong></p>
                <p>Phone 2:<strong>  {{customer.Phone2}}</strong></p>
            </div>
        </div>
    </div>
</div>
