<row r="9">
    <c t="inlineStr" r="A9" s="5">
        <is>
            <t>Name</t>
        </is>
    </c>
    <c t="inlineStr" r="B9" s="5">
        <is>
            <t>Time</t>
        </is>
    </c>
    <c t="inlineStr" r="C9" s="5">
        <is>
            <t>Note</t>
        </is>
    </c>
</row>
<row r="10">
    <c t="inlineStr" r="A10" s="5">
        <is>
            <t>Eddie</t>
        </is>
    </c>
    <c t="inlineStr" r="B10" s="5">
        <is>
            <t>Fri Jan 13 2017</t>
        </is>
    </c>
    <c t="inlineStr" r="C10" s="5">
        <is>
            <t>Hi<br>This<br>Is my letter</t>
        </is>
    </c>
</row>
<row r="10">
    <c t="inlineStr" r="A10" s="5">
        <is>
            <t>Eddie</t>
        </is>
    </c>
    <c t="inlineStr" r="B10" s="5">
        <is>
            <t>Fri Jan 13 2017</t>
        </is>
    </c>
    <c t="inlineStr" r="C10" s="5">
        <is>
            <t>AHHHH</t>
        </is>
    </c>
</row>
<row r="10">
    <c t="inlineStr" r="A10" s="5">
        <is>
            <t>Eddie</t>
        </is>
    </c>
    <c t="inlineStr" r="B10" s="5">
        <is>
            <t>Fri Jan 13 2017</t>
        </is>
    </c>
    <c t="inlineStr" r="C10" s="5">
        <is>
            <t>hi<br>hi<br>hi</t>
        </is>
    </c>
</row>
<row r="10">
    <c t="inlineStr" r="A10" s="5">
        <is>
            <t>Eddie</t>
        </is>
    </c>
    <c t="inlineStr" r="B10" s="5">
        <is>
            <t>Fri Jan 13 2017</t>
        </is>
    </c>
    <c t="inlineStr" r="C10" s="5">
        <is>
            <t>Hello</t>
        </is>
    </c>
</row>
<row r="10">
    <c t="inlineStr" r="A10" s="5">
        <is>
            <t>Eddie</t>
        </is>
    </c>
    <c t="inlineStr" r="B10" s="5">
        <is>
            <t>Fri Jan 13 2017</t>
        </is>
    </c>
    <c t="inlineStr" r="C10" s="5">
        <is>
            <t>jytjy<br>ufnr</t>
        </is>
    </c>
</row>
<row r="10">
    <c t="inlineStr" r="A10" s="5">
        <is>
            <t>Eddie</t>
        </is>
    </c>
    <c t="inlineStr" r="B10" s="5">
        <is>
            <t>Fri Jan 13 2017</t>
        </is>
    </c>
    <c t="inlineStr" r="C10" s="5">
        <is>
            <t>@ the tree house<br>me &amp; my %%%3%£<br>&gt;&gt;FE&lt;FEWF</t>
        </is>
    </c>
</row>
<row r="10">
    <c t="inlineStr" r="A10" s="5">
        <is>
            <t>Eddie</t>
        </is>
    </c>
    <c t="inlineStr" r="B10" s="5">
        <is>
            <t>Fri Jan 13 2017</t>
        </is>
    </c>
    <c t="inlineStr" r="C10" s="5">
        <is>
            <t>hi<br>I have done<br>something &amp;&amp;$%U(*^*&amp;%*%(%</t>
        </is>
    </c>
</row>
<row r="10">
    <c t="inlineStr" r="A10" s="5">
        <is>
            <t>Eddie</t>
        </is>
    </c>
    <c t="inlineStr" r="B10" s="5">
        <is>
            <t>Fri Jan 13 2017</t>
        </is>
    </c>
    <c t="inlineStr" r="C10" s="5">
        <is>
            <t>1<br>2<br>3<br>4<br>5<br>6<br>6<br>7<br>8<br>8<br>8<br>8<br>8<br>8</t>
        </is>
    </c>
</row>
